@mixin background-style(
  $position,
  $top,
  $height,
  $url,
  $background-size,
  $background-repeat
) {
  position: $position;
  top: $top;
  height: $height;
  background-image: $url;
  background-size: $background-size;
  background-repeat: $background-repeat;
}

#mission-team-3 {
  @include background-style(
    relative,
    -10vh,
    103vh,
    url(../../imgs/home/01.jpg),
    cover,
    no-repeat
  );
}

#mission-team-2 {
  @include background-style(
    relative,
    -10vh,
    103vh,
    url(../../imgs/home/03.jpg),
    cover,
    no-repeat
  );
}

#dragon {
  @include background-style(
    relative,
    -10vh,
    103vh,
    url(../../imgs/home/02.gif),
    cover,
    no-repeat
  );
}

#starship {
  @include background-style(
    relative,
    -10vh,
    103vh,
    url(../../imgs/home/04.jpg),
    cover,
    no-repeat
  );
}

footer {
  color: white;
  font-size: 1.3rem;
}

main {
  height: 400vh;
}
