@mixin background-style(
  $position,
  $top,
  $height,
  $url,
  $background-size,
  $background-repeat
) {
  position: $position;
  top: $top;
  height: $height;
  background-image: $url;
  background-size: $background-size;
  background-repeat: $background-repeat;
}

.header {
  font-size: 1.2rem;
  font-weight: bold;
}

.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.arrowDown {
  display: inline-block;
  width: 9rem;
  margin-top: 0.5rem;
}

.logoPc {
}

// nav {
//   margin-left: 15vw;
//   z-index: 5;
//   .navbar-nav {
//     a {
//       font-size: 1.2rem;
//       font-weight: bold;
//     }

//     #falcon9 {
//       width: 7rem;
//       margin-left: 2rem;
//     }

//     #human-flight {
//       width: 16rem;
//     }
//     img {
//       width: 50%;
//       height: 10%;
//     }
//   }
// }

footer {
  font-size: 1.3rem;
}

.title-home {
  margin-left: 15vw;

  h6 {
    font-size: 2rem;
    // padding-top: 30rem;
  }
  h2 {
    font-size: 4rem;
    margin-bottom: 6rem;
  }
  button {
    font-size: 1.4rem;
    width: 14.5rem;
    padding: 1.4rem 0;
    border-width: 0.2rem;
  }
}

footer {
  height: 15rem;
  font-weight: 500;

  a {
    cursor: pointer;
    text-decoration: none;
    color: white;

    &:hover {
      color: $hover-link;
    }
  }
  #copyright {
    color: $copyright-footer;
  }
}

@media (max-width: 320px) {
  nav {
    margin-left: 3vw;

    img {
      width: 200rem;
      height: 100rem;
    }
  }
}
